@import "../../sass/variable";
@import "../../sass/utilities";
@import "../../sass/carousel";

.courses__box {
  @include flex_layout(null, null, column);
}
.course__img__box {
  text-align: center;
  & > img {
    display: inline !important;
    width: 20rem;
    height: auto;
  }
}
.courses__title {
  color: $main;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 2rem;
  text-align: center;
}
