@import "../../sass/utilities";

.mission__box {
  @include flex_layout();
  padding: 3rem;
  position: relative;
  overflow: hidden;
  width: 100vw;
  .mission__desc {
    width: 50%;
    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }
  .mission__img {
    position: relative;
    width: 50%;
    @media screen and (max-width: 768px) {
      display: none !important;
    }
    & > img {
      height: auto;
      width: 80%;
      object-fit: contain;
    }
  }
}
