@import "../../sass/utilities";

.service__slider {
  position: relative;
  width: 90%;
  overflow: hidden;
  padding: 3rem 0;
}
.service__img {
  text-align: center;
  & > img {
    display: inline;
    width: 25rem;
    height: auto;
  }
}
