@import "../../sass/utilities";

.vision__box {
  @include flex_layout();
  @media screen and (max-width: 768px) {
    @include flex_layout(center, null, column);
  }
  .vision__img {
    margin-right: 2rem;
    border: 0.2rem solid #ccc;
    padding: 1rem;
    width: 10rem;
    height: 10rem;
    position: relative;
    & > img {
      width: 100%;
      height: 100%;
    }
  }
  .vision {
    @media screen and (max-width: 768px) {
      margin-top: 1.5rem;
    }
    font-size: 1.8rem;
    color: black;
    border: 0.2rem solid #ccc;
    height: 10rem;
    padding: 2rem;
    @media screen and (max-width: 768px) {
      height: max-content;
    }
    margin: 0;
  }
}
