@import "../../sass/utilities";
@import "../../sass/variable";

.section__wrapper {
  position: relative;
  margin-top: 6rem;
  width: 100vw;
  padding: 3rem;
  @include flex_layout(center, null, column);
}
